/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.hebergementLien{ /**permet de gerer tout ce qui et en lien avec la balise a**/
    color:black;
    text-decoration:none;
    
}
/**header**/

.headerTexteLien{
    color:black;
    text-decoration:none;
    padding-top: 15px;
    border-top:2px #FFFFFF solid ;

}
.directionHeader{

    display: flex;
	justify-content: space-between;	
    

}
.bookiImg{ /**image bookie en haut a droite**/

    Width: 61px;
	padding: 30px 30px;

}

.survolleheader:hover{

    color: #0065FC;
  
    
   border-top: 2px solid;

}

.headerLien{ /**lien hébergements et activiter en haut a gauche**/

    display: flex;
 

    gap: 67px;
    margin: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    text-align: center;
}

/**bouton**/

.sectionBoutonRecherche{

    display: flex;

}


.iconBouton{ /**icon bouton modification**/

    padding: 15px ;
    
    background-color:#F2F2F2 ;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;

}

.barRecherche{ /**modification arrieres plan bar recherche + contour**/

    padding: 15px ;
    
    border: 2px solid #F2F2F2;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    

}
.boutonRecherche i{

display: none;

}
.boutonRecherche{ /**mondification couleur + contour**/

    padding: 15px ;

    border-radius:0px 15px 15px 0px ;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/*****filtres icon boutton******/

.texteFiltre{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

 }

 /**direction des filtre + flexbox**/

 .directionFiltre{

    display: flex;
    flex-direction: row;
    gap: 30px;
 }


.sectionBoutonFiltre{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.effetSurvolleFiltre:hover{

    background-color:#DEEBFF ;
   
}
.boutonFiltre{ /** contour boutton + background + effet survole **/
    background-color: #ffffff;
    border: 2px solid #D9D9D9;
    border-radius: 25px;

    padding: 15px 25px;
    display: flex;
    gap:10px;

    font-size: 14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*******information bouton + icon*****/

.texteIformation{ /****le texte plus de 500...*****/

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.iconInformation{

    border: #D9D9D9 1px solid;
    border-radius:50%;
    padding: 9px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.texteHebergement{ /**le texte en gras hebergement **/
margin-top: -5px;
margin-bottom:30px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
}

.flex{ /** les direction des colonne**/
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.contenaireHebergementMarseille{   /**rectangle autour des image**/

    width:30%;
    margin-top: 33px;

    background: #ffffff;
    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

.imgMarseille{     /**les image au dessus de heergement a marseille**/
    
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;

    width: 100%;
    height: 124px;

}
.directionTexte{ /**la direction du texte en minuscule et majuscule**/
display: flex;
margin: 5px;
flex-direction: row;
}

.texteGras{ /**valeur du texte en gras**/
    
   
        
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

}

.textePetit{  /**valeur du texte en petit**/
   
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}

.etoile{ /**direction des etoile**/
     margin-left:5px;

}

.afficherPlus{ /** dirrection afficher plus**/
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    display: flex;
   margin-top:40px ;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;

}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*activiter a marseille*/

.sectionContenairActiviterMarseille{ /**dans la section contenair gere tout le bloc**/
    margin: 0px 40px 0px 40px;
    border-radius: 20px;
	margin-top:50px ;
    

}

.contenairAcitviterArticleMarseille{ /**gere les bloc article dans activiter marseille **/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	
	border-radius: 20px; 
	width: 100%;
	height: 400px ;
	background: white;

    margin-top: 30px;
    
}

.imgActivite{ /** les  image dans activier**/
	border-radius: 20px 20px 0 0;
	width: 100%;
	height:88%;
	object-fit:cover;
    

}

.contenairAcitviterMarseille{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin-bottom: 50px;
    
    gap: 30px;
    
}

.lienImgActiviter{

    width: 25%;
    color:black;
    text-decoration:none;

}

.texteImg{ /**le texte dans les activite**/
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    margin-left: 10%;

}


/*footer  a verifier code*/




.footer{
    display: flex;
    padding: 20px;
    background: #F2F2F2;
}

.footer h3{

    margin: 0;
}

.directionBlocFooter{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
    width: 33%;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .contenairAcitviterArticleMarseille {

        height: 200px;
    }

    .imgActivite{

        height: 75%;

    }
    .texteImg{

        margin-top: 5px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    
    .container{

        margin: 0;
    }
    
    .main-container{
           padding:0;
    }
    
   .sectionFiltre{

        margin: 20px;

   }
/********filtre version mobile***********/

   .directionFiltre{

    display:block;

   }

   .sectionBoutonFiltre i{

    margin-right: 10px;

   }
    .sectionBoutonFiltre{

        flex-direction: row;
        align-items:  flex-start;
        gap: 10px;
        width: 100%;

    }

    .boutonFiltre{
        
        padding: 15px 0px;
        width: 48%;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        display: block;

    }

    .texteIformation{ /*******texte en bas de la premieres partit*********/

        width: 100%;

    }
    

    .baliseH1MediaQuarie{
        
        width: 335px;
        height: 52px;
    }

    .texteMediaQuarie{

        width: 335px;
        height: 19px;
    }


    /********bouton rechercher*************/
    
    
    .barRecherche{

    
        padding:0px;
        border: 1px solid #f2f2f2;
        border-right: none;
    }
    


    .boutonRecherche i{
        
        display: block;
        color: #FFFFFF;
    }
    
    .boutonRecherche{
        
        border-radius: 15px;
        
    }    
    .boutonRecherche span{

        display: none;
    }
    
    /*****header lien + logo****/
    
    
     .headerLien{

        width: 100%;
        padding-left: 0px;
        gap: 0px;
    }
    .directionHeader{
        
        flex-direction: column;
        width: 100%;
    }
    
    .headerTexteLien{
        width: 50%;
        text-align: center;
        padding-top: 0px;
        border-top: 0px ;
        padding-bottom: 15px;
        border-bottom: 2px solid #f2f2f2;
        
    }
    .survolleheader:hover{
     
        border-top:0px;
        text-decoration-line: none;
        border-bottom: 2px solid;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
   
    .bookiImg{

        padding: 30px 0px 30px 156.96px;

    }


    /**********hebergement a marseille************/

    .hebergements-and-populaires section{

        background-color:#FFFFFF ;
    }


    .contenaireHebergementMarseille{

        width: 100%;
        margin-top:30px;
    }

     .flex{

        gap: 0px;
     }

     .afficherPlus{

        margin-top: 20px;

     }

   
   /*********Les plus populaire***********/
   

    section.populaires{
        background-color: #F2F2F2;
        border-radius: 0px;
        order: -1;
    
    }

     .populaires-cards{
        background-color: #f2f2f2;
        flex-direction: column;
        width: 100%;
    
    }

    
    .populaires-cards .card{

        width: 100%;
    }
     
     .populaires-title{
        background-color: #F2F2F2;
     }

   
    /********activiter a marseille***********/
   
    .contenairAcitviterMarseille{

        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
    }
    
    .contenairAcitviterArticleMarseille{

        height: 200px;
    }

    .lienImgActiviter{
        width: 100%;
    }
    .imgActivite{

        height: 70%;
    }
    .texteImg{

        padding: 20px;
        margin: 0;
        
    }

    /********footer**********/
    
    
    
    .flex{
    flex-direction: column;
   }
   
    .footer {
        flex-direction: column;  
        background-color: #F2F2F2; 
        gap: 50px;

    }

    .directionBlocFooter{

        width: 100%;
    }


}

